.main {
  width: 95%;
  background-color: rgb(5, 40, 61);
  border: 1px solid #f1ccff;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 20px;
  margin-top: 20px;
}
.heading-expense{
    color: rgb(176, 238, 238);
    font-family:Arial, Helvetica, sans-serif;
}
.form-main {
  width: 96%;
  background-color: rgb(176, 238, 238);
  border: 1px solid rgb(5, 164, 185);
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 20px;
}
.input {
  width: 180px;
  height: 30px;
  padding: 5px;
  margin: 20px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgb(5, 164, 185);
}
.input:hover {
  background-color:rgb(176, 238, 238);
}
